#ana_div {
    
    height: 1700px;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(24, 15, 15);
    
}

.div {
    
    
    display: inline-block;
    height: 1700px;
    width: 300px;
    margin: 10px;
    color:darkgoldenrod;
   
}

.ozel{
    float: left;
}